<!--Section: Contact v.2-->

<section>
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Skontaktuj się z nami</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Jeśli masz jakieś pytania skontakutj się z nami telefonicznie, bądź przez email jesteśmy dostępni na infolini 24/7.</p>
    
    

        <div class="container">
            <div class="row justify-content-center">
              <div class="col">
                <p><b> TU NAS ZNAJDZIESZ: </b></p>
                <iframe style="margin-left: 40px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9776.703905157425!2d20.913134564907466!3d52.2220205839758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecd4e8e1c1a27%3A0x35f98e1562a1968b!2s99Rent%20-%20Wypo%C5%BCyczalnia%20Samochod%C3%B3w!5e0!3m2!1spl!2spl!4v1675064654900!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <div class="col">
                        <div class="col-md-3 text-center">
                          <ul class="list-unstyled mb-0">
                              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                  <p>​Połczyńska 10, 01-378 Warszawa</p>
                              </li>
              
                              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                  <p>​+48-882-299-999
                                </p>
                              </li>
              
                              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                  <p>carrent@gmail.com</p>
                              </li>
                              <li><i class="fas fa-fax mt-4 fa-2x"></i>
                                  <p>1-​882-299-999</p>
                              </li>
                          </ul>
                      </div>
                </div>
     </div>
</div>
<br>
<br>
<h3 style="margin-left: 400px;">Wyślij nam wiadomość!</h3>
<p style="margin-left: 400px;">Masz wątpliwości, skontaktuj się z nami jesteśmy dostępni 24h</p>
    <form style="margin-left: 400px;" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="w3-section">
        <input class="w3-input w3-border" type="text" placeholder="Name" name="name" ngModel required #name="ngModel">
        </div>
        <div class="w3-section">
        <input  class="w3-input w3-border" type="text" placeholder="Email" email name="email" ngModel required #email="ngModel">
        </div>
        <div class="w3-section">
        <textarea  class="w3-input w3-border" placeholder="Messages" name="messages" ngModel required #messages="ngModel"></textarea>
        </div>
        <input class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" type="submit" value="Send">
    </form>
<br>
<br>
<br>
<br>
             
          


                
     

    


    


