<div class="container my-5">
  <h1 class="mb-3">Pracownicy</h1>
  <table class="table" *ngIf="pracownicy && pracownicy.length > 0" >
     <thead>
<tr>
    <th>id</th>
    <th>imie</th>
    <th>email</th>
    <th>numer</th>
    <th>firma</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let pracownik of pracownicy">
      <td>{{pracownik.id}}</td>
      <td>{{pracownik.imie}}</td>
      <td>{{pracownik.email}}</td>
      <td>{{pracownik.numer}}</td>
      <td>{{pracownik.firma}}</td>
      <td><a [routerLink]="['/Pracownicy','edit',pracownik.id]">View</a></td>
      <td><a [routerLink]="['/Pracownicy','delete',pracownik.id]">Delete</a></td>
    </tr>

</tbody>

  </table>
  <p *ngIf="!pracownicy || pracownicy.length <= 0">Brak pracowników!</p>


</div>
