<div class="container my-5">
    <h1 class="mb-3">Dodaj nowego pracownika</h1>
    
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="addPracownik()">
                <div class="mb-3">
                  <label for="" class="form-label"><b>Imie</b></label>
                  <input type="text" class="form-control" id="imie" name="imie" [(ngModel)]="addPracownikRequest.imie">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label"><b>Email</b></label>
                    <input type="email" class="form-control" id="emial" name="email" [(ngModel)]="addPracownikRequest.email">
                </div>
                <div class="mb-3">
                    <label for="numer" class="form-label"><b>Numer</b></label>
                    <input type="number" class="form-control" id="numer" name="numer" [(ngModel)]="addPracownikRequest.numer">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label"><b>Firma</b></label>
                    <input type="text" class="form-control" id="firma" name="firma" [(ngModel)]="addPracownikRequest.firma">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj!</button>
              </form>
        </div>
    </div>
    

</div>
