<div class="outer">
    <div class="container">
        <div class="row">
             <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetForm" > 
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="resetForm.controls['newPassword'].dirty && resetForm.hasError('required','newPassword')">
                                <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" class="form-control" formControlName="newPassword" placeholder="Password" required>  
                                    <span (click)="toogleFieldTextType()" class="fa {{eyeIcon}}"></span>
                            </div>
                            <small *ngIf="resetForm.controls['newPassword'].dirty && resetForm.hasError('required','newPassword')" class="text-danger">Password is Required</small> 
                        </div>
                        <div class="form-group pt-3">
                            <div class="input-field" [class.error]="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required','confirmPassword')">
                                <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" class="form-control" formControlName="confirmPassword" placeholder="Confirm password" required> 
                                    <span (click)="toogleFieldTextType()" class="fa {{eyeIcon}}"></span>
                            </div>
                            <small *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required','confirmPassword')" class="text-danger">Confirm password is Required</small> 
                        </div>
                        
                        <button style="margin-left: -2px;" (click)="resetPassword()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Confirm</button>
                        </form>
                    </div>


                </div>    
            </div>
        </div>
    </div>    
</div>
