
<div class="container my-5">
    <h1 class="mb-3">Edytuj dane pracownika</h1>
    
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="deletePracownik()">
                <p><b>Czy napewno usunąć tego użytkownika?</b></p>
                    <button type="button" class="btn btn-primary">
                        <a [routerLink]="['/Pracownicy']" aria-current="page" style="color:white">Nie</a></button>
                    <button type="submit" class="btn btn-primary" ><u>Tak</u></button> 
              </form>
        </div>
    </div>
    

</div>