<!--Section: FAQ-->
<br>
<br>
<h1 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h1>
<p class="text-center mb-5">
  Najcześciej zadawane pytania przez naszych użytkowników!
</p>

<div class="row">
  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Czym jest wynajem długoterminowy samochodu</h6>
    <p>
      Wynajem długoterminowy polega na tym, że otrzymujesz do używania samochód (lub całą flotę) w zamian za comiesięczną opłatę, która zawiera pakiet usług dodatkowych.
    </p>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Dla kogo jest wynajem długoterminowy?</h6>
    <p>
      <strong>Dla każdej firmy i klienta indywidualnego!</strong>

Początkowo wynajem długoterminowy był dopasowany do oczekiwań korporacji, które posiadają duże floty samochodów.

Z czasem kompleksowa obsługa serwisowa samochodów trafiła w gusta przedstawicieli mniejszych firm, osób prowadzących działalność gospodarczą oraz konsumentów.
    </p>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i> Dlaczego warto wybrać wynajem długoterminowy?
    </h6>
    <p>
      Wynajem to kompleksowy i wyjątkowo wygodny sposób na korzystanie samochodu, który będzie służył Ci w firmie i w życiu prywatnym.
    </p>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Jakie są korzyści finansowe z wynajmu długoterminowego?
    </h6>
    <p>
      Niskie zaangażowanie kapitału własnego.
Przewidywalne koszty utrzymania samochodu lub całej floty.
Brak obciążenia bilansu firmy i zdolności kredytowej.
    </p>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i>Czy wynajem jest dla Ciebie?
    </h6>
    Przestań martwić się o przeglądy, wymianę opon, ubezpieczenia. Nie musisz samodzielnie szukać warsztatu, negocjować z mechanikiem itp. Dzięki oferowanym przez Masterlease usługom dodatkowym, ograniczysz ilość czasu na obsługę samochodu. W razie potrzeby szybko Twój samochód znajdzie się pod opieką profesjonalistów.
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Jak mogę regulować wysokość czynszu</h6>
    <p>
      Wysokość czynszu zależy m.in. od poniższych czynników. Nasz Doradca pomoże Ci wybrać optymalne parametry umowy.
    </p>
  </div>
</div>

<br>
<h5 class="text-center"> Jeśli nie znalazłeś odpowiedzi na pytanie, smiało, skontaktuj się z nami!</h5>


<br>
<br>